/*.fade-enter-active {
	transition: all 0.5s;
}

.fade-leave-active {
	transition: all 0.3s;
}

.fade-enter, .fade-leave-to {
	opacity:0;
}

.fade-enter {
	transform: translateX(31px);
}

.fade-leave-to {
	transform: translateX(-31px);
}

.fade-enter-to, .fade-leave {
	opacity:1;
}

@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	
	50% {
		transform: scale(1.5);
	}
	
	100% {
		transform: scale(1);
	}
}*/

.list-move {
	transition: transform 1s;
}

.list-enter-active, .list-leave-active {
	transition: all 1s;
}

.list-enter, .list-leave-to {
	opacity:0;
	transform: translateY(30px);
}